<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- Load jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <!-- Link CSS Stylesheet -->
    <link rel="stylesheet" href="/static/styles.css" />

    <title>Junior Web Engineer - Performance Task</title>
  </head>
  <body>

    <h1>Pokemon Information</h1>
    <h4>Click a Pokemon card for more information</h4>

    <!-- Add element to hold dynamically created divs -->
    <div id="container" class="container"></div>

    <br>

    <div>
      <button id="more-pokemon">Show 25 More Pokemon</button>
      <button id="fewer-pokemon">Show 25 Fewer Pokemon</button>
    </div>

    <option id="value-tracker" value="25"></option>
    

    <!-- Link to JS App File -->
    <script src="/static/app.js"></script>
  </body>
</html>